*, *:before, *:after
  box-sizing border-box

html, body
  margin 0
  padding 0

html, body
  height 100%

body
  font-size 16px
  font-family Lato, sans-serif
  display flex
  min-width 800px

.section
  display flex
  align-items center
  justify-content center

#sidebar
  width 240px
  border-right 1px solid gray-lighter
  background gray-bg

#board-section
  flex 1
