#board
  #border
    stroke gray-light
    fill none
  .grid
    stroke gray-light

  .piece
    fill blue
  .piece-shadow
    fill darken(blue, 15%)
    transform translateY(1px)

  .arrow
    font-family 'icomoon'
    fill gray-lighter
    &.active
      fill green
