#control
  btn-height = 50px
  .btn
    width 120px
    height btn-height
    font-size 24px
    line-height btn-height
    &:nth-child(n+2)
      margin-top 20px
  #play-pause-btn
    btn(blue)
    .icons
      transition transform .25s
    &.playing
      btn(yellow)
      .icons
        transform translateY(0 - btn-height)
    &.disabled
      opacity .5
  #reset-btn
    btn(red)
