doctype html
html(lang='en')
  head
    meta(charset='utf-8')

    title Checker Walker

    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Lato:300,300i,400,400i,700')
    link(rel='stylesheet' href='/styles/iconfont.css')
    link(rel='stylesheet' href='/styles/index.css')

  body
    #sidebar.section
      #control
        .btn#play-pause-btn
          .icons
            .icon-play
            .icon-pause
        .btn#reset-btn
          .icon-replay
        //- TODO: Board size input

    #board-section.section
      .msg.loop The checker will stay on the board... forever.
      .msg.off The checker has gone off the board. :(
      svg#board

    script(src='/scripts/index.js')
