doctype html
html(lang='en')
  head
    meta(charset='utf-8')

    title Checker Walker

    link(rel='stylesheet' href='//brick.a.ssl.fastly.net/Lato:300,300i,400,400i,700')
    link(rel='stylesheet' href='/styles/iconfont.css')
    link(rel='stylesheet' href='/styles/index.css')

  body
    #sidebar.section
      #control
        .btn#play-pause-btn Start
        .btn#reset-btn Reset
        //- TODO: Board size input

    #board-section.section
      svg#board

    script(src='/scripts/index.js')
