@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?xdtk8g');
  src:url('fonts/icomoon.eot?#iefixxdtk8g') format('embedded-opentype'),
    url('fonts/icomoon.woff?xdtk8g') format('woff'),
    url('fonts/icomoon.ttf?xdtk8g') format('truetype'),
    url('fonts/icomoon.svg?xdtk8g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
  content: "\e600";
}

.icon-play:before {
  content: "\e601";
}

.icon-replay:before {
  content: "\e602";
}

.icon-arrow-down:before {
  content: "\e603";
}

.icon-arrow-left:before {
  content: "\e604";
}

.icon-arrow-right:before {
  content: "\e605";
}

.icon-arrow-up:before {
  content: "\e606";
}

.icon-grid:before {
  content: "\e607";
}

.icon-times:before {
  content: "\e609";
}
